@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Italic.ttf);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
