* {
    margin: 0;
}

body {
    background: #f3f2f3;
    color: #000;
    font-family: 'Trebuchet MS', Arial, 'Times New Roman';
    font-size: 30px;
    text-align: center;
    line-height: 5em;
    box-sizing: content-box;
}

#container {
    background: #99cc99;
    margin: 100px;
    width: 88%;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
}

#header {
    background: #71a9e0;
    width: 100%;
    height: 150px;
}

#navigation {
    background: #fac1f6;
    width: 100%;
    height: 130px;
}

#content {
    background: #bde78c;
    flex: 80%;
    height: 470px;
}

#menu {
    background: #94b272;
    flex: 20%;
    height: 470px;
}

#clear {
    clear: both;
}